@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mukta&family=Nanum+Gothic+Coding&display=swap');


body {
    background-color: #f8f9fa;
    font-family: Nanum Gothic Coding, monospace;
    color: #2f363b;
}

body h1 {
    text-align: center;
    padding-top: 1em;
}

a:link, a:visited {
    color: #2f363b;
    text-decoration: none;
}

/* NAVBAR STYLES */
.navbar {
    background-color: #2f363b;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.navbar .dropdown-toggle {
    color: white;
}

.navbar .navbar-brand {
    color: white;
}

.navbar #nav-photo {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.navbar .nav-link {
    color: white;
}

/* HOMEPAGE */
.base-container {
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    background-color: white;
    width: 40em;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-info span {
    font-weight: bold;
    color: #4b7694;
}

/* DASHBOARD */
#dashboard div {
    border: 1px solid black;
}


/* CAROUSEL STYLES */
#cover-carousel {
    width: 32em;
    padding: 2em;
}
.carousel .carousel-inner {
    width: 32em;
}

.carousel .carousel-inner .carousel-item {
    width: 32em;
    height: 100%;
    background: #f8f9fa;
}

.carousel .carousel-inner .carousel-item img {
    position: relative;
    left: 20%;
    height: 25em;
}

/* BOOK INFO // books/info.html */
.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: auto 7em;
    width: fit-content;
    background-color: white;
}


/* USER PROFILE */
.profile-info .rounded-img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: relative;
    left: 13em;
}

.profile-info span {
    background-color: #f8f9fa;
}

.profile-info {
    text-align: left;
}