@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mukta&family=Nanum+Gothic+Coding&display=swap');


body {
    background-color: #f8f9fa;
    font-family: Nanum Gothic Coding, monospace;
    color: #2f363b;
}

body h1 {
    text-align: center;
    padding-top: 1em;
}

a:link, a:visited {
    color: #2f363b;
    cursor: pointer;
}

.messages {
    margin: 1em;
}

h2 {
    margin-left: 1em;
    margin-top: 1em;
}

h4 {
    text-align: center;
    padding-top: 1em;
}

/* FAQ STYLES */

#faq {
    margin-bottom: 4em;
}

#faq img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SEARCH STYLES */

.card img {
    width: 100%;
    height: 100%;
}

.search-header {
    display:inline-block;
    text-align: center;
    margin-top: 1em;
}

.search-term {
    font-style: italic;
}

.search-card {
    max-width: 540px;
}

#search {
    margin: auto;
    width: 60%;
    position: relative;
    top: 20em;
}


/* NAVBAR STYLES */
#nav {
    background-color: #2f363b !important;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.navbar .dropdown-toggle {
    color: white !important;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: #f8f9fa;
}

.navbar #nav-photo {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

#nav .nav-link {
    color: white;
}


/* HOMEPAGE */
.base-container {
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    background-color: white;
    width: 40em;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-info span {
    font-weight: bold;
    color: #4b7694;
}

/* DASHBOARD */

#dashboard {
    margin-top: 3em;
}

#dashboard .user-info {
    text-align: center;
}

#dashboard .user-img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin: auto;
}

#dashboard section {
    padding: 1.5em;
}

#dashboard section img {
    margin: 0.5em;
}

#dashboard .arrow {
    float: right;
    font-size: small;
}

#dashboard .dash-shelf {
    border-radius: 5%;
}

#dashboard .reading {
    background-color: rgba(27, 84, 45, 0.6);
}

#dashboard .finished-reading {
    background-color: rgba(64, 90, 112, 0.6);
}

#dashboard .future-reads {
    background-color: rgba(230, 177, 64, 0.6);
}

#dashboard .reading img {
    width: 38px;
    height: 58px;
}

#dashboard .finished-reading img {
    width: 38px;
    height: 58px;
}

#dashboard .future-reads img {
    width: 38px;
    height: 58px;
}

/* CAROUSEL STYLES */
#cover-carousel {
    width: 32em;
    padding: 2em;
}
.carousel .carousel-inner {
    width: 32em;
}

.carousel .carousel-inner .carousel-item {
    width: 32em;
    height: 100%;
    background: #f8f9fa;
}

.carousel .carousel-inner .carousel-item img {
    position: relative;
    left: 20%;
    height: 25em;
}

/* BOOK INFO // books/info.html */
.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: auto 7em;
    width: fit-content;
    background-color: white;
}

.add-shelf {
    margin-bottom: 2em;
}

.add-shelf .form-group {
    width: 30%;
    position: relative;
    left: 2em;
}

.add-shelf .form-control {
    margin-right: 0px;
}


/* USER PROFILE */
.profile-info-self .rounded-img, .profile-info-other .rounded-img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: relative;
    left: 13em;
}

.profile-info-self span {
    background-color: #f8f9fa;
}

.profile-info-self {
    text-align: left;
}

.profile-info-other {
    text-align: center;
}

/* EDIT USER */

#edit-user {
    margin-bottom: 3em;
}

/* SHELVES */

#reading, #finished-reading, #future-reads, #all-reads {
    font-size: small;
}

#shelves-container th {
    background-color: #2f363b;
    color: white;
}

#shelves-container h3 {
    margin-top: 1em;
}

#shelves-container span {
    font-size: x-small;
    margin-left: max-width;
}

.container tr:nth-of-type(odd) {
    background-color: #d3dee6;
}

.container tr:nth-of-type(even) {
    background-color: white;
}

.container td {
    padding: 0 1em 0 1em;
}

.container th {
    padding-left: 1em;
}

.delete-book {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-book p {
    text-align: center;
}

/* FRIENDS */

.container .nav-pills {
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.container .tab-content {
    text-align: center;
    /* padding: 1em; */
}

.friend-img {
    border-radius: 50%;
    border: 0.5px solid rgb(218, 210, 210);
    width: 5em;
    height: 5em;
    /* position: relative;
    left: 13em; */
}

#friend-search-results div {
    background-color: white;
    width: fit-content;
    margin-top: 1em;
    padding: 1em;
    border: 0.5px solid rgb(218, 210, 210);
}

#friend-search-results button {
    margin-top: 1em;
    display: block;
}

.friend-search {
    margin-top: 2em;
}

.tab-content .tab-pane {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab-content .tab-pane div {
    margin: 1em;
}