{% extends 'base.html' %}

{% block content %}

<h4><i>{{ book.book.title }}</i></h4>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/shelves/{{ book.book_key }}/edit" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if (field.widget.input_type != 'hidden') %}
            <div class="form-group">
                {{ field.label(class_="form-label") }}
                {{ field(class_="form-control") }}
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-success">Submit Edit</button>
            <a href="/shelves/{{ user.username }}">Back</a>
        </form>
    </div>
</div>

{% endblock %}