{% extends 'base.html' %}

{% block content %}

<!-- Cover Carousel -->
<div id="cover-carousel" class="carousel slide carousel-dark container-fluid" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
        {% if json['covers'] %}
        <div class="carousel-item active">
        <img src="https://covers.openlibrary.org/b/id/{{ json['covers'][0] }}-M.jpg" class="d-block w-50" alt="...">
        </div>
        {% for cover in json['covers'] %}
        <div class="carousel-item">
        <img src="https://covers.openlibrary.org/b/id/{{ cover }}-M.jpg" class="d-block w-50" alt="...">
        </div>
        {% endfor %}
        {% else %}
            <div class="carousel-item active">
            <img src="/static/images/default-book.png" class="d-block w-50" alt="...">
            </div>
        {% endif %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#cover-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cover-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Flash messages for when a user successfully adds book to shelf -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for category, msg in messages %}
        <p class="text-center text-{{ category }}">{{ msg }}</p>
        {% endfor %}
    </section>
    {% endif %}
{% endwith %}

<!-- Form to add book to shelf -->
<div class="d-flex justify-content-center add-shelf">
    <form class="row g-3" method="POST" action="/works/{{ key }}">
        {{ form.hidden_tag() }}
            {% for field in form if (field.widget.input_type != 'hidden') %}
                <div class="form-group">
                    <small>{{ field.label(class_="form-label") }}</small>
                    {{ field(class_="form-control") }}
                </div>
            {% endfor %}
        {% if book %}
        <button type="submit" class="btn btn-sm btn-primary">Update Shelf</button>
        {% else %}
        <button type="submit" class="btn btn-sm btn-primary">Add to shelf</button>
        {% endif %}
    </form>
</div>

  
<!-- Book info -->
<div class="container-fluid book-info">
    <h2>{{ json['title'] }}</h2>
    <h5>By: {{ ', '.join(authors) }}</h5>

    {% if not json['description'] %}
        <p>Sorry, no description available!</p>
    {% elif json['description'] and not json['description']['value'] %}
        <p>{{ json['description'] }}</p>
    {% else %}
        <p>{{ json['description']['value'] }}</p>   
    {% endif %}
</div>


{% endblock %}
