{% extends 'base.html' %}

{% block content %}



{% if results %}
<div class="container">
    <h3 class="search-header">Search Results for...</h3>
    <span class="search-term">"{{ search }}"</span>

    <!-- Card -->
    {% for book in results %}
    <div class="card mb-3 search-card">
        <div class="row g-0">
            <div class="col-md-4">
                {% if book['cover_i'] %}
                    <a href="{{ book['key'] }}"><img src="https://covers.openlibrary.org/b/id/{{ book['cover_i'] }}-M.jpg" class="img-fluid rounded-start" alt="book cover"></a>
                {% else %}
                    <a href="{{ book['key'] }}"><img src="/static/images/default-book.png" class="img-fluid rounded-start" alt="..."></a> 
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{{ book['key'] }}"><h5 class="card-title">{{ book['title'] }}</h5></a>
                    <p class="card-text">{{ ', '.join(book['author_name']) }}</p>
                    <p class="card-text"><small class="text-muted">
                        <b>Published in:</b> {{ book['first_publish_year'] }}<br>
                        {% if book['language'] %}
                        <b>Language:</b> 
                            <i>{{ ', '.join(book['language']) }}</i><br>
                        {% endif %}
                        <b>Editions:</b> {{ book['edition_count'] }}
                    </small></p>

                    <!-- Quick add Form -->

                    <p class="card-text">
                        {% if book['key'][7:] in book_list %}
                        <a class="btn btn-sm btn-outline-danger" href="/shelves/{{ book['key'][7:] }}/edit">Edit Entry</a>
                        {% else %}
                        <form data-id="{{ book['key'] }}" class="row g-3 add-to-shelf" method="POST" action="{{ book['key'] }}">
                            {{ form.hidden_tag() }}
                            {% for field in form if (field.widget.input_type != 'hidden') %}
                            <div class="col-auto">
                                {{ form.status.label }}
                            </div>
                            <div class="col-auto">
                                {{ form.status(class_="form-control")}}
                            </div>
                            {% endfor %}
                            <input type="hidden" name="num_pages" value="0">
                            <input type="hidden" name="pages_read" value="0">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-sm btn-primary">Add To Shelf</button>
                            </div>
                        </form>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- If there is no search query, show search form -->
{% else %}
<div class="row justify-content-center" id="search">
    <div class="col-md-6">
        <form action="/search" method="POST" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Enter a book title or author..." aria-label="Search" name="search">
            <button class="btn btn-outline-success">Search</button>
        </form>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <section class="messages">
            {% for category, msg in messages %}
            <p class="text-center text-{{ category }}">{{ msg }}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}

    </div>
</div>
{% endif %}

{% endblock %} 

