{% extends 'base.html' %}

{% block content %}

<h1>Welcome {{ current_user.first_name }}</h1>

<div class="container" id="dashboard">
    <div class="row">
        <div class="col-sm-3">
          Level 1: .col-sm-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto ea sint id corrupti sit provident laudantium accusantium repudiandae ipsum adipisci necessitatibus accusamus optio quod illo assumenda, impedit quam molestiae.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, possimus minima laborum enim nostrum suscipit inventore maiores earum officia unde, vitae eius odio voluptatibus ipsa et dicta? Ducimus, quas obcaecati!
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-8 col-sm-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellendus culpa quas blanditiis beatae aliquid dolor quibusdam harum laboriosam? Ea velit consequuntur dolores aliquid recusandae labore libero. Aliquam, rerum iste!
            </div>
            <div class="col-4 col-sm-6">
              Level 2: .col-4 .col-sm-6
            </div>
          </div>
        </div>
      </div>    
  </div>

{% endblock %}