{% extends 'base.html' %}

{% block content %}

<div class="container" id="dashboard">
    <div class="row">
        <div class="col-sm-3 user-info">
          <img src="{{ user.image_url }}" alt="" class="user-img">
          <h3>@{{ user.username }}</h3>
            <div class="row">
                <div class="col-sm-12 friends">
                    heya
                    
                </div>
            </div>  
        
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/{{ user.username }}/shelves"><h3 class="text-center">Reading</h3></a>
                    <section>
                        {% for book in reading[0:10] %}
                        <a href="/works/{{ book.book_key }}"><img src="https://covers.openlibrary.org/b/id/{{ book.book.cover }}-S.jpg" alt="book cover"></a>
                        {% endfor %}
                        <br>

                        <a href="/{{ user.username }}/shelves"><span class="arrow">View list... <i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/{{ user.username }}/shelves"><h3 class="text-center">Finished Reading</h3></a>
                    <section>
                        {% for book in finished_reading[0:10] %}
                        <a href="/works/{{ book.book_key }}"><img src="https://covers.openlibrary.org/b/id/{{ book.book.cover }}-S.jpg" alt="book cover"></a>
                        {% endfor %}
                        <br>
                        
                        <a href="/{{ user.username }}/shelves"><span class="arrow">View list... <i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/{{ user.username }}/shelves"><h3 class="text-center">Future Reads</h3></a>
                    <section>
                        {% for book in future_reads[0:10] %}
                        <a href="/works/{{ book.book_key }}"><img src="https://covers.openlibrary.org/b/id/{{ book.book.cover }}-S.jpg" alt="book cover"></a>
                        {% endfor %}
                        <br>

                        <a href="/{{ user.username }}/shelves"><span class="arrow">View list... <i class="fas fa-long-arrow-alt-right"></i></span></a>
                    </section>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}