{% extends 'base.html' %}

{% block content %}
<h1>Edit your profile</h1>

<!-- Edit user form -->
<div class="row justify-content-center container-fluid">
    <div class="col-md-6">
        <form action="/{{ current_user.username }}/edit" method="POST" id="edit-user">
            {{ form.hidden_tag() }}
            {% for field in form if (field.widget.input_type != 'hidden') %}
            <div class="form-group">
                {{ field.label(class_="form-label") }}
                {{ field(class_="form-control") }}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{ err }}
                </small>
                {% endfor %}
            </div>
            {% endfor %}
            
            <br>
            <button class="btn btn-outline-success">Submit edits</button>
            <a href="/{{ current_user.username }}" class="btn btn-outline-warning">Back</a>
        </form>
    </div>
</div>

{% endblock %}