{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center friend-search">
    <div class="col-md-6">
        <form class="d-flex" action="/friends/search">
            <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Find Friend" name="q">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container" id="friend-search-results">
    <h3 class="search-header">Search Results for...</h3>
    <span class="search-term">"{{ input }}"</span>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for category, msg in messages %}
        <p class="text-center text-{{ category }}">{{ msg }}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}

    {% if search_results %}
    <div>
        {% for user in search_results %}
        <a href="/{{ user.username }}"></a><img src="{{ user.image_url }}" alt="User profile image" class="friend-img">
        <hr>
        <p class="text-center">
            <a href="/{{user.username }}">@{{ user.username }}</a>

            <form action="/add-friend" method="POST">
                <input type="hidden" id="user_b_id" name="user_b_id" value="{{ user.id }}">
                <button class="btn btn-sm btn-outline-primary">Add friend</button>
            </form>  
        </p>
        {% endfor %}
    </div>
    {% else %}
    <p>Sorry, your search yielded no results!</p>
    {% endif %}
    
</div>

{% endblock %}