{% extends 'base.html' %}

{% block content %}

{% if other_user.username != curr_user.username %}

<div class="container-fluid base-container profile-info-other">
    <img src="{{ other_user.image_url }}" alt="user image" class="rounded-img"><br>
    <p>@{{ other_user.username }}</p>
    <a href="shelves/{{ other_user.username }}">Visit Bookshelf</a>
    <blockquote class="blockquote text-center">
        <p>{{ other_user.description }}</p>
        <footer class="blockquote-footer">{{ other_user.first_name }} {{ other_user.last_name }} in <cite title="Source Title">{{ other_user.location }}</cite></footer>
      </blockquote>
    
    {% if friends[0] or friends[1] %}
    <form action="/friends/delete/{{ other_user.id }}" method="POST">
        <button class="btn btn-sm btn-outline-danger">Remove Friend</button>
    </form>
    {% endif %}
</div>

{% else %}

<div class="container-fluid base-container profile-info-self">
    <img src="{{ current_user.image_url }}" alt="user image" class="rounded-img"><br>
    <span><p><b>Username: </b>{{ current_user.username }}</p></span>
    <span><p><b>First name: </b>{{ current_user.first_name }}</p></span>
    <span><p><b>Last name: </b>{{ current_user.last_name }}</p></span>
    <span><p><b>Description: </b>{{ current_user.description }}</p></span>
    <br>
    <a href="/{{ current_user.username }}/edit" class="btn btn-sm btn-outline-danger">Edit Profile</a>
</div>

{% endif %}

{% endblock %}