{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Register</h1>
<p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for category, msg in messages %}
        <p class="text-center text-{{ category }}">{{ msg }}</p>
        {% endfor %}
    </section>
    {% endif %}
{% endwith %}

<!-- Register Form -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if (field.widget.input_type != 'hidden') %}
            <div class="form-group">
                {{ field.label(class_="form-label") }}
                {{ field(class_="form-control") }}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                    {{ err }}
                </small>
                {% endfor %}
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-success">Register</button>
        </form>
    </div>
</div>


{% endblock %}